<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Order Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- AngularJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <script src="new-order.js"></script>
</head>

<body>
<div class="container" ng-controller="MainController as mainCtrl">
    <h1><a href="index.htm">Order Management System</a></h1>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary btn-lg" ng-click="mainCtrl.navigateToCreateOrder()">Create Order</button>
        </div>
        <div class="col-sm-6">
            <button class="btn btn-success btn-lg" ng-click="mainCtrl.navigateToWatchOrders()">Watch Orders</button>
        </div>
    </div>
</div>
</body>
<script src="app.js"></script>
</html>